{% extends "layout.nj" %}

{% block main %}
  <div class="about">
    <picture>
    <source srcset="images/me.webp" type="image/webp"/>
    <img class="me" alt="A dumb picture of myself" src="images/me.jpg"/>
    </picture>
    <div class="me">
      <div class="info"><i class="fa fa-keyboard-o"></i><span>Software developer</span></div>
      <div class="info"><i class="fa fa-map-marker"></i><span>Karlsruhe, Germany</span></div>
      <div class="info"><i class="fa fa-envelope"></i><span class="email"></span></div>
      <div class="info"><i class="fa fa-key"></i><a href="public.gpg"><span>GPG public key</span></a></div>
    </div>
  </div>

  <h2><span>Websites</span></h2>

  <div class="section" id="websites">
  <div class="tiles">
    <a href="https://karl-jaspers.com" class="tile" data-tags="code">
    <img alt="Karl Jaspers" src="images/websites/karl-jaspers.svg"/>
    <div class="title"><span class="center">Karl Jaspers</span></div>
    </a>
  </div>
  </div>

  <h2><span>Projects</span></h2>

  <div class="section" id="projects">

  <div>
    <a href="https://www.npmjs.com/package/jshint-stylish-summary" class="tile-with-desc" data-tag="">
      <div class="tile">
        <img alt="JSHint Stylish Summary" src="images/projects/jshint-stylish-summary.png"/>
      </div>
      <div class="desc">
        <h3><span>JSHint Stylish Summary</span></h3>
        <p><span>
          A reporter for the JavaScript linter jshint that shows the total the number
          of files with errors, warnings and no issues. Includes a gulp plugin that
          is compatible with gulp-jshint.
        </span></p>
      </div>
    </a>
    <a href="https://plugins.jenkins.io/calendar-view" class="tile-with-desc" data-tag="">
      <div class="tile">
        <img alt="" src="images/projects/calendar-view-plugin.png"/>
      </div>
      <div class="desc">
        <h3><span>Jenkins Calendar View Plugin</span></h3>
        <p><span>
          A Jenkins plugin that shows past and future builds in a calendar view.
          Useful to get an overview of scheduled builds that execute periodically.
        </span></p>
      </div>
    </a>
  </div>

  </div>

  <h2><span>Elsewhere</span></h2>

  <div class="section" id="elsewhere">

  <div class="tags">
  </div>

  <div class="tiles">
    <a href="https://github.com/svenschoenung" class="tile" data-tags="code">
    <img alt="GitHub" src="images/elsewhere/github.svg"/>
    <div class="title"><span class="center">GitHub</span></div>
    </a>

    <a href="https://stackoverflow.com/users/5892036/sven-schoenung" class="tile" data-tags="code docs">
    <img alt="StackOverflow" src="images/elsewhere/stackoverflow.svg"/>
    <div class="title"><span class="center">Stack<br/>Overflow</span></div>
    </a>

    <a href="https://last.fm/user/svenschoenung" class="tile" data-tags="music">
    <img alt="last.fm" src="images/elsewhere/lastfm.svg"/>
    <div class="title"><span class="center">last.fm</span></div>
    </a>

    <a href="https://www.4clojure.com/user/svenschoenung" class="tile" data-tags="code">
    <img alt="4clojure" src="images/elsewhere/4clojure.svg"/>
    <div class="title"><span class="center">4clojure</span></div>
    </a>

    <a href="https://clojuredocs.org/u/svenschoenung" class="tile" data-tags="code docs">
    <img alt="ClojureDocs" src="images/elsewhere/clojuredocs.svg"/>
    <div class="title"><span class="center">ClojureDocs</span></div>
    </a>

    <a href="https://coveralls.io/github/svenschoenung" class="tile" data-tags="code">
    <img alt="Coveralls" src="images/elsewhere/coveralls.svg"/>
    <div class="title"><span class="center">COVERALLS</span></div>
    </a>

    <a href="https://www.npmjs.com/~sven.schoenung" class="tile" data-tags="code">
    <img alt="npm" src="images/elsewhere/npm.svg"/>
    <div class="title"><span class="center">npm</span></div>
    </a>

    <a href="https://travis-ci.org/svenschoenung/" class="tile" data-tags="code">
    <img alt="Travis CI" src="images/elsewhere/travis-ci.svg"/>
    <div class="title"><span class="center">Travis CI</span></div>
    </a>

    <a href="https://reddit.com/u/svenschoenung/" class="tile" data-tags="news social">
    <img alt="reddit" src="images/elsewhere/reddit.svg"/>
    <div class="title"><span class="center">reddit</span></div>
    </a>

    <a href="https://libraries.io/github/svenschoenung" class="tile" data-tags="code">
    <img alt="Libraries.io" src="images/elsewhere/librariesio.svg"/>
    <div class="title"><span class="center">Libraries.io</span></div>
    </a>

    <a href="http://steamcommunity.com/id/svenschoenung/" class="tile" data-tags="games">
    <img alt="Steam" src="images/elsewhere/steam.svg"/>
    <div class="title"><span class="center">Steam</span></div>
    </a>

    <a href="http://keybase.io/svenschoenung/" class="tile" data-tags="crypto">
    <img alt="Keybase" src="images/elsewhere/keybase.svg"/>
    <div class="title"><span class="center">Keybase</span></div>
    </a>

    <a href="https://www.flickr.com/photos/svenschoenung" class="tile" data-tags="images social">
    <img alt="flickr" src="images/elsewhere/flickr.svg"/>
    <div class="title"><span class="center">flickr</span></div>
    </a>

    <a href="https://news.ycombinator.com/user?id=svenschoenung" class="tile" data-tags="news social">
    <img alt="Hacker News" src="images/elsewhere/hackernews.svg"/>
    <div class="title"><span class="center">Hacker News</span></div>
    </a>

    <a href="http://imgur.com/user/svenschoenung" class="tile" data-tags="images social">
    <img alt="imgur" src="images/elsewhere/imgur.svg"/>
    <div class="title"><span class="center">imgur</span></div>
    </a>

    <a href="https://slashdot.org/~sven.schoenung" class="tile" data-tags="news social">
    <img alt="Slashdot" src="images/elsewhere/slashdot.svg"/>
    <div class="title"><span class="center">Slashdot</span></div>
    </a>

    <a href="https://genius.com/SvenSchoenung" class="tile" data-tags="music">
    <img alt="Genius" src="images/elsewhere/genius.svg"/>
    <div class="title"><span class="center">Genius</span></div>
    </a>

    <a href="https://goodreads.com/svenschoenung" class="tile" data-tags="books">
    <img alt="goodreads" src="images/elsewhere/goodreads.svg"/>
    <div class="title"><span class="center">goodreads</span></div>
    </a>

    <a href="https://www.gog.com/mix/sven_schoenungs_games" class="tile" data-tags="games">
    <img alt="GOG" src="images/elsewhere/gog.svg"/>
    <div class="title"><span class="center">GOG</span></div>
    </a>

    <a href="https://www.chesscademy.com/sven.schoenung" class="tile" data-tags="games">
    <img alt="Chesscademy" src="images/elsewhere/chesscademy.svg"/>
    <div class="title"><span class="center">Chesscademy</span></div>
    </a>

    <a href="https://lichess.org/@/svenschoenung" class="tile" data-tags="games">
    <img alt="lichess" src="images/elsewhere/lichess.svg"/>
    <div class="title"><span class="center">lichess</span></div>
    </a>

    <a href="https://letterboxd.com/svenschoenung/" class="tile" data-tags="film">
    <img alt="Letterbox" src="images/elsewhere/letterboxd.svg"/>
    <div class="title"><span class="center">Letterboxd</span></div>
    </a>

    <a href="https://www.hackerrank.com/sven_schoenung/" class="tile" data-tags="code">
    <img alt="HackerRank" src="images/elsewhere/hackerrank.svg"/>
    <div class="title"><span class="center">HackerRank</span></div>
    </a>

    <a href="https://getpocket.com/@sven.schoenung/" class="tile" data-tags="social">
    <img alt="pocket" src="images/elsewhere/pocket.svg"/>
    <div class="title"><span class="center">pocket</span></div>
    </a>

    <a href="https://soundcloud.com/sven-schoenung" class="tile" data-tags="music">
    <img alt="soundcloud" src="images/elsewhere/soundcloud.svg"/>
    <div class="title"><span class="center">SoundCloud</span></div>
    </a>

    <a href="https://www.duolingo.com/sven.schoenung" class="tile" data-tags="music">
    <img alt="duolingo" src="images/elsewhere/duolingo.svg"/>
    <div class="title"><span class="center">duolingo</span></div>
    </a>

    <a href="https://www.twitch.tv/svenschoenung" class="tile" data-tags="games">
    <img alt="twitch.tv" src="images/elsewhere/twitch.svg"/>
    <div class="title"><span class="center">twitch.tv</span></div>
    </a>

    <a href="https://www.chess.com/members/svenschoenung" class="tile" data-tags="games">
    <img alt="chess.com" src="images/elsewhere/chess.svg"/>
    <div class="title"><span class="center">chess.com</span></div>
    </a>

    <a href="http://www.imdb.com/user/ur6377879" class="tile" data-tags="film">
    <img alt="IMDb" src="images/elsewhere/imdb.svg"/>
    <div class="title"><span class="center">IMDb</span></div>
    </a>

  </div>
{% endblock %}
