{% extends "layout.nj" %}

{% block main %}
  <div class="privacy">

  <h2><span>Privacy Policy</span></h2>

  <p><span>The following lists all the data that is collected by this website.</span></p>

  <h3><span>1. Log files</span></h3>

  <p><span>As part of normal operations this website logs the following information about each visited page: URL of visited page; HTTP status code returned for the visited page; referrering page; time of visit; IP address of visitor; web browser (user agent) used by the visitor.</span></p>

  <p><span>This information is not shared with third parties and automatically deleted after 30 days.</span></p>

  <h3><span>2. Google Analytics</span></h3>

  <p class="privacy-setting" data-setting="gtag" data-enabled="Google Analytics is enabled" data-disabled="Google Analytics is disabled"></p>

  </div>
{% endblock %}
